<nav class="navbar navbar-expand-sm navbar-light nav-home">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <a class="navbar-brand" href="#">WIKI DEV</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLinkActive="active"
            [routerLink]="['/']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLinkActive="active"
            [routerLink]="['/login']"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLinkActive="active"
            [routerLink]="['/register']"
            >Register</a
          >
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn  search-btn" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
<div *ngIf="isLoading" class="load">
  <div class="one">W</div>
  <div class="two">i</div>
  <div class="three">k</div>
  <div class="four">i</div>
  <div class="five">D</div>
  <div class="six">e</div>
  <div class="seven">v</div>
</div>
<div
  class="alert alert-danger alert-dismissible alert-right fade show m-4"
  style="position: absolute; z-index: 100; float: right"
  role="alert"
  *ngIf="thereIsAnError"
>
  <strong>Error Occure !</strong> {{ errorMessage }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
  <div class="main-section">
    <router-outlet></router-outlet>
  </div>
