<p>section works!</p>
<div
  class="card d-flex card"
>
  <h5 class="card-header title">
    Angular
  </h5>
  <div class="card-body">

    <!-- Writer Name And Date of Post -->
    <h6 class="card-title">{{ section.UserName }}</h6>
    <p class="card-subtitle mb-2 text-muted">
      <small class="text-muted">{{ section.DateOfPost }}</small>
    </p>

    <!-- Blog Title and Description -->
    <h4 class="card-title mt-3">{{ section.SectionTitle }}</h4>
    <p class="card-text">
      {{ section.SectionDescription }}
    </p>

  </div>

  <!--CodeBlock Images -->
  <div class="row">
    <div class="card-body col-lg-6 col-md-6">
      <pre>
        <code>
   {{section.CodeBlock}}
        </code>
      </pre>
    </div>
    <div class="card-body col-lg-6 col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Photos</li>
      </ul>
    </div>
  </div>


  <div class="card-footer" style="background-color: #87aae390; color: #fcf7f4">
    {{ section.CountOfLikes }} likes
  </div>
</div>
