<p>section works!</p>
<div class="card d-flex" style="background-color: transparent;
border-radius:0 ;
 border-left-color:transparent;
 border-top-color:transparent;
border-right-color:transparent ;

">
  <h5 class="card-header" style="background-color:#87aae390; color: #FCF7F4; ">Angular</h5>
  <div class="card-body">
    <!-- Writer Name And Date of Post -->
    <h6 class="card-title ">user title</h6>
    <p class="card-subtitle mb-2 text-muted"><small class="text-muted">8/18/2022</small></p>
<!-- Blog Title and Description -->
    <h4 class="card-title mt-3">Blog Title</h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <!-- Images -->
  <div class="row">
  <div class="card-body col-lg-6 col-md-6">

      <pre>
        <code>
    //add smtp
    using var smtp = new SmtpClient();
    //connect to server
    smtp.Connect(_mailSettings.Host,_mailSettings.Port,SecureSocketOptions.StartTls);
    //authenticate
    smtp.Authenticate(_mailSettings.Email, _mailSettings.Password);
    //send email(mimeMessage)
    await smtp.SendAsync(email);

    smtp.Disconnect(true);
    //add smtp
    using var smtp = new SmtpClient();
    //connect to server
    smtp.Connect(_mailSettings.Host,_mailSettings.Port,SecureSocketOptions.StartTls);
    //authenticate
    smtp.Authenticate(_mailSettings.Email, _mailSettings.Password);
    //send email(mimeMessage)
    await smtp.SendAsync(email);

    smtp.Disconnect(true);
    //add smtp
    using var smtp = new SmtpClient();
    //connect to server
    smtp.Connect(_mailSettings.Host,_mailSettings.Port,SecureSocketOptions.StartTls);
    //authenticate
    smtp.Authenticate(_mailSettings.Email, _mailSettings.Password);
    //send email(mimeMessage)
    await smtp.SendAsync(email);

    smtp.Disconnect(true);
        </code>
      </pre>

  </div>
  <div class="card-body col-lg-6 col-md-6">
    <ul class="list-group list-group-flush ">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
    </ul>
  </div>
</div>
<div class="card-footer" style="background-color:#87aae390; color: #FCF7F4;">
  19 likes
</div>
</div>


