.title{
  color: #6b5b95;
}
.btnSearch{
  background-color: #88b04b;
  border: #88b04b;
}
.btn-danger {
  background-color: #DE3163;
  border: none;
}
.btn-danger:hover {
  background-color: #707b7c;
}

