@import "~bootstrap-icons/font/bootstrap-icons.css";

.action
{
  font-size: small;
}
.date
{
  font-size: large;
}
.card-header
{
  background-color: #D0D3D4 ;
}
.card-body
{
  background-color: #CCCCFF ;
}

