
<div class="container" id="page-content">
  <div class="padding">
        <div class="card user-card-full">
            <div class=" bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img
                    src="https://img.icons8.com/bubbles/100/000000/user.png"
                    class="img-radius"
                    alt="User-Profile-Image"
                  />
                </div>
                <h6 class="f-w-600">User Name</h6>
                <p>Career</p>
                <i
                  class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                ></i>
              </div>
            </div>
            <div class="row">
            <div class="col-12 col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">First Name</p>
                    <h6 class="text-muted f-w-400">rntng@gmail.com</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Last Name</p>
                    <h6 class="text-muted f-w-400">98979989898</h6>
                  </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">

                </h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Age</p>
                    <h6 class="text-muted f-w-400">rntng@gmail.com</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">98979989898</h6>
                  </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">

                </h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Sex </p>
                    <h6 class="text-muted f-w-400">rntng@gmail.com</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Date of Register</p>
                    <h6 class="text-muted f-w-400">98979989898</h6>
                  </div>
                </div>


            </div>
          </div>
<div class=" col-12 col-sm-4">
hello
</div>
</div>
      </div>
  </div>
</div>

    id
   firstName//
   lastName//
   userName//
   email//
   career
   age//
   sex//
   dateOfRegister
   profilePhotoBase64
