<div class="container">
<div class="row d-flex justify-content-around">
  <app-my-section *ngFor="let section of sections" [section]="section"></app-my-section>
</div>
<button class="btn btn-success mt-3 addBtn" (click)="OnAddSection()">Add Section <i class="bi bi-plus-lg"></i>
</button>

<div *ngIf="displayNotify" class="alert alert-warning alert-dismissible fade show noResult" role="alert">
  <h3>There is No Connection With The Server</h3>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
