@import "~bootstrap-icons/font/bootstrap-icons.css";

.row>*{
  width:fit-content;
}
.addBtn{
margin:0 0 30px 30px;
}
.noResult{
  display: flex;
  justify-content: center;
  transform: translateY(200%);
}
