<div class="card d-flex shadow-sm">
  <h5 class="card-header title">
    {{ section.category.name }}
  </h5>
  <div class="card-body">
    <!-- Writer Name , photo And Date of Post -->
    <div class="user-info">
      <img
        class="user-avatar"
        [src]="'data:image/jpeg;base64,' + section.userProfileBase64"
        alt="User Photo"
      />

      <i *ngIf="!section.userProfileBase64" class="bi bi-person-circle mb-1">
      </i>
      <h5 class="card-title userInfo">
        {{ section.userName }}
      </h5>
    </div>
    <p class="card-subtitle mb-4 text-muted">
      <small class="text-muted">{{ section.dateOfPost | date }}</small>
    </p>

    <!-- Blog Title and Description -->
    <h4 class="card-title mt-4 mb-4">{{ section.sectionTitle }}</h4>
    <pre class="card-text">
      {{ section.sectionDescription }}
      </pre
    >

    <!--CodeBlock and Images -->
    <div class="row">
      <div class="card-body col-lg-6 col-md-6">
        <pre>
        <code>
   {{section.codeBlock}}
        </code>
      </pre>
      </div>
      <div class="card-body col-lg-6 col-md-6">
        <ul class="list-group list-group-flush">
          <li
            *ngFor="let image of section.sectionBase64Photos"
            class="list-group-item d-flex justify-content-center image"
          >
            <img [src]="'data:image/jpeg;base64,' + image" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer contain like / comment / save -->
  <div class="card-footer row footer">
    <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center">
      <button class="btn btn-lg btn-primary" (click)="OnLike()">
        <i class="bi bi-hand-thumbs-up-fill" *ngIf="isLike"></i>
        <i class="bi bi-hand-thumbs-up" *ngIf="!isLike"></i>
        <h6>{{ countOfLikes }} Like</h6>
      </button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center">
      <button
        class="btn btn-lg btn-primary"
        data-bs-toggle="collapse"
        data-bs-target="#collapseComment"
        aria-expanded="false"
        aria-controls="collapseComment"
      >
        <i class="bi bi-chat-square-text-fill"></i>
        <h6>{{ countOfComments }} Comment</h6>
      </button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center">
      <button class="btn btn-lg btn-primary" (click)="OnSave()">
        <i class="bi bi-save-fill" *ngIf="isSave"></i>
        <i class="bi bi-save" *ngIf="!isSave"></i>
        <h6>{{ countOfSave }} Save</h6>
      </button>
    </div>
  </div>

  <!-- collapse for comment -->
  <div class="collapse mt-1" id="collapseComment">
    <div class="card card-body p-0">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let comment of section.comments">
          <h6 class="text-muted">{{ comment.dateOfPost | date }}</h6>
          <h5>{{ comment.content }}</h5>
        </li>
      </ul>
    </div>
    <div class="card card-footer">
      <form [formGroup]="opinionForm" (ngSubmit)="OnSubmit()">
        <div class="row m-2 display-flex justify-content-center">
          <input
            type="text"
            name=""
            id=""
            class="form-control m-3 ml-0 mt-0 mb-0 col-9"
            style="width: 75%"
            placeholder="Enter your opinion"
            formControlName="opinion"
          />
          <button
            class="btn btn-sm btn-success col-2"
            type="submit"
            value="Send"
          >
            <i class="bi bi-send-fill"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
