<div class="app-wrapper">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
      <div class="row d-flex justify-content-between m-4">
        <div class="col-auto m-0">
          <h1 class="app-page-title mb-4">All Sections</h1>
        </div>
        <div class="col-auto m-0">
          <div class="row">
            <form class="docs-search-form row gx-1">
              <div class="col-6 col-sm-4 mb-3">
                <input
                  type="text"
                  name="search"
                  id="search"
                  placeholder="Enter Keywords"
                  class="form-control"
                  formControlName="search"
                />
              </div>
              <div class="col-6 col-sm-4 mb-3">
                <select
                  name="category"
                  id="category"
                  class="form-control form-select w-auto"
                  formControlName="category"
                >
                  <option value="" disabled selected>Category</option>
                  <option value="">All Category</option>
                  <option
                    *ngFor="let category of categories"
                    [value]="category.id"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>
              <div class="col-12 col-sm-4">
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row g-4 justify-content-around app-displayer" >
        <app-section *ngFor="let section of sections" [section]="section"></app-section>

        <app-section *ngFor="let section of sections" [section]="section"></app-section>
      </div>


    </div>
  </div>
</div>

