<div class="register">
<section class="h-100">
  <div class="container py-5  ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-4">

          <div class="card-body p-4 p-md-4 card ">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

            <form class="px-md-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

              <div class="form-outline mb-3">
                <input type="text" id="form3Example1q" class="form-control" formControlName="firstName" />
                <label class="form-label" for="form3Example1q">First Name</label>
              </div>

              <div class="form-outline mb-3">
                <input type="text" id="form3Example1q" class="form-control" formControlName="lastName"/>
                <label class="form-label" for="form3Example1q">Last Name</label>
              </div>

              <div class="form-outline mb-3">
                <input type="number" id="form3Example1q" class="form-control" formControlName="age" />
                <p *ngIf="registerForm.get('age')?.invalid && registerForm.get('age')?.touched" class="text-danger">Reqiured and must be greater than zero</p>
                <label class="form-label" for="form3Example1q">Age</label>
              </div>


              <div class="form-outline mb-3">
                <input type="text" id="form3Example1q" class="form-control" formControlName="career"/>
                <label class="form-label" for="form3Example1q">Career</label>
              </div>

              <div class="form-outline mb-3">
                <input type="text" id="form3Example1q" class="form-control" formControlName="email"/>
                <label class="form-label" for="form3Example1q">Email</label>
              </div>


                <div class="form-outline mb-3">
                  <select class="select" formControlName="gender">
                    <option value="1" disabled>Gender</option>
                    <option value="2">Female</option>
                    <option value="3">Male</option>
                  </select>
                  <br/>
                  <label>Gender</label>

                </div>

              <button type="submit" class="btn btn-primary btn-lg mb-1" [disabled]="!registerForm.valid" >Send</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
