<div class="card border-secondary  mb-3 p-0" style="max-width: 18rem;">
  <div class="card-header">{{section.category.name}}</div>
  <div class="card-body ">
    <h5 class="card-title d-flex justify-content-around">{{section.sectionTitle}}</h5>
    <p class="card-text text-muted date">Date of post : {{section.dateOfPost | date}}</p>
    <div class="row mb-4 ">
      <div class="d-flex justify-content-around ">You've <span class="comment">{{section.comments.length}}</span> <span *ngIf="section.comments.length==1">comment</span> <span *ngIf="section.comments.length>1">comments</span></div>
    </div>
    <div class="row mb-2"><button (click)="OnDisplay()" class="btn btn-info text-white">Display and Control</button></div>

    <div class="row "><button (click)="OnDeleteComments()" class="btn btn-danger">Delete <span *ngIf="section.comments.length==1">Your Comment</span> <span *ngIf="section.comments.length>1">All Your Comments</span> From This Post</button></div>
  </div>
</div>

