<form class="row search m-5" [formGroup]="searchForm" (ngSubmit)="OnSubmit()">
  <div class="col col-lg-2 col-sm-4 col-4 one">
    <select
      name="category"
      id="category"
      class="form-control form-select"
      formControlName="category"
    >
      <option value="" disabled selected>Category</option>
      <option value="">All Category</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="col col-lg-5 col-sm-7 col-7 two">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Enter Keywords?"
      class="form-control"
      formControlName="search"
    />
  </div>
  <button class="col col-lg-1 col-sm-11 col-11 btn three" type="submit">
    <i class="bi bi-search form-control"></i>
  </button>
</form>

<div class="container">
  <app-section
    *ngFor="let section of sections | myFilter: searchCategory|myFilter:search; let i = index"
    [section]="section"
  ></app-section>
  <h1 *ngIf="displayNotify" class="noResult">There is No Connection With The Server</h1>
  <h1 *ngIf="searchNotify" class="noResult">There is No Result For That</h1>
</div>
